*.log
__pycache__
/log/*.log

backupLog/hblCore.log 2023-03-27-10:42:14.zip
backupLog/hblCore.log 2023-03-28-13:08:30.zip
backupLog/hblMQTT.log 2023-03-29-12:28:23.zip
backupLog/hblTimer.log 2023-03-22-14:28:56.zip
backupLog/hblTimer.log 2023-03-22-15:30:58.zip
backupLog/hblTimer.log 2023-03-22-16:29:03.zip
backupLog/hblTimer.log 2023-03-27-09:31:50.zip
backupLog/hblTimer.log 2023-03-27-09:31:51.zip
backupLog/hblTimer.log 2023-03-27-16:22:38.zip
backupLog/hblTimer.log 2023-03-27-18:00:49.zip
backupLog/hblTimer.log 2023-03-27-19:42:22.zip
backupLog/hblTimer.log 2023-03-27-21:23:35.zip
backupLog/hblTimer.log 2023-03-27-23:04:58.zip
backupLog/hblTimer.log 2023-03-28-00:46:04.zip
backupLog/hblTimer.log 2023-03-28-02:27:18.zip
backupLog/hblTimer.log 2023-03-28-04:08:38.zip
backupLog/hblTimer.log 2023-03-28-05:49:55.zip
backupLog/hblTimer.log 2023-03-28-07:31:08.zip
backupLog/hblTimer.log 2023-03-28-09:12:43.zip
backupLog/hblTimer.log 2023-03-28-10:19:42.zip
log/hblBioStar2_WebSocket.log
log/hblCore.log
log/hblEntradas.log
log/hbli2c.log
log/hblMQTT.log
log/hblPuerta.log
log/hblTimer.log
__pycache__/main.cpython-37.pyc
modulos/__pycache__/alarma.cpython-37.pyc
modulos/__pycache__/BioStar2_WebSocket.cpython-37.pyc
modulos/__pycache__/Control_Personal.cpython-37.pyc
modulos/__pycache__/entradas.cpython-37.pyc
modulos/__pycache__/hbl.cpython-37.pyc
modulos/__pycache__/i2cDevice.cpython-37.pyc
modulos/__pycache__/lcd_i2c.cpython-37.pyc
modulos/__pycache__/log.cpython-37.pyc
modulos/__pycache__/MQTT.cpython-37.pyc
modulos/__pycache__/salidas.cpython-37.pyc
modulos/__pycache__/SendMail.cpython-37.pyc
modulos/__pycache__/timer.cpython-37.pyc
modulos/__pycache__/variablesGlobales.cpython-37.pyc
__pycache__/main.cpython-37.pyc
backupLog/hblCore.log 2023-03-29-17:57:26.zip
backupLog/hblPuerta.log 2023-03-30-17:47:18.zip
log/hblBioStar2_WebSocket.log
log/hblCore.log
log/hblEntradas.log
log/hbli2c.log
log/hblMQTT.log
log/hblPuerta.log
log/hblTimer.log
log/hblBioStar2_WebSocket.log
modulos/__pycache__/alarma.cpython-37.pyc
modulos/__pycache__/BioStar2_WebSocket.cpython-37.pyc
modulos/__pycache__/Control_Personal.cpython-37.pyc
modulos/__pycache__/entradas.cpython-37.pyc
modulos/__pycache__/hbl.cpython-37.pyc
modulos/__pycache__/i2cDevice.cpython-37.pyc
modulos/__pycache__/lcd_i2c.cpython-37.pyc
modulos/__pycache__/log.cpython-37.pyc
modulos/__pycache__/MQTT.cpython-37.pyc
modulos/__pycache__/salidas.cpython-37.pyc
modulos/__pycache__/SendMail.cpython-37.pyc
modulos/__pycache__/timer.cpython-37.pyc
modulos/__pycache__/variablesGlobales.cpython-37.pyc
